.button {
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
    padding-left: 100px;
}

.eachBtn {
    font-size: 20px;
    font-weight: bold;
    color: #060047;
    border-color: #B3005E;
    background-color: white;
    border-width: 3px;
    border-radius: 10%;
    cursor: pointer;
}

.eachBtn:hover {
    font-size: 24px;
    background-color: #ffffff;
}

@media screen and (max-width: 700px) {

    ul {
        padding-left: 0px;
    }

}